<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/load.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <h1 id="title"><%= title %></h1>
   
    <canvas width="1920" height="1080" id="battlefield" style="width:1440px;background-color:#FFF"></canvas>

    <script>

      var loader = new HS.Loader();
      loader.load(function(){
        var core = new HS.Core();
        
        core.start();
        /*var resolutions = [
          {width:1920 , height:1080},
          {width:1440 , height:900},
          {width:3840 , height:2160},
        ];
        
        resolutions.forEach(item => { 
          let option = $(document.createElement("option")).text(item.width + " , " + item.height).val(JSON.stringify(item));
          $("#resolutionSelect").append(option);
        });

        $("#resolutionSelect").change(function(){
          let resolution = JSON.parse($("#resolutionSelect").val());
          HS.Global.resize( resolution.width , resolution.height);
          let canvas = document.getElementById("battlefield");
          canvas.width = resolution.width;
          canvas.height = resolution.height;
        });*/
        
      })
      loader.start();
      
      document.getElementById("title").addEventListener("click", function(e) {
        var elem = document.getElementById("battlefield");
        elem.style.width = screen.width + "px";

        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.msRequestFullscreen) {
          elem.msRequestFullscreen();
        } else if (elem.mozRequestFullScreen) {
          elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
          elem.webkitRequestFullscreen();
        }
      })

      if (document.addEventListener)
      {
          document.addEventListener('webkitfullscreenchange', exitHandler, false);
          document.addEventListener('mozfullscreenchange', exitHandler, false);
          document.addEventListener('fullscreenchange', exitHandler, false);
          document.addEventListener('MSFullscreenChange', exitHandler, false);
      }

      function exitHandler()
      {
          if (!(document.webkitIsFullScreen || document.mozFullScreen || document.msFullscreenElement))
          {
            var elem = document.getElementById("battlefield");
            elem.style.width = 1440 + "px";
          }
      }
    </script>
    
  </body>
</html>
